@model IEnumerable<CMSPlus.Domain.Models.CommentModels.CommentModel>

@{
    Layout = "_Layout";
}
<div class="container mt-3">
    <div class="row">
        <h1 class="col-6 text-black-50">Comment List</h1>

    </div>
    <hr/>
    @foreach (var comment in Model)
    {
        <div class="col mt-3 border rounded">
            <h2 class="row-12 text-center mt-2">@comment.FullName</h2>
            <hr class="m-3"/>
            <div class="row mx-2">
                <p class="text-black-50 col-6">Created: @comment.CreatedOnUtc</p>
                <p class="text-black-50 col-6 text-end">Updated: @comment.UpdatedOnUtc</p>
            </div>
            <div class="row-12 mx-3">
                <p class="fs-6">@Html.Raw(comment.Body)</p>
            </div>
        </div>
    }
</div>